<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
    <div class="form-row">
        <div class="form-group col-md-6">
            <form class="form-inline" method="get" action="/main">
                <input type="text" name="filter" th:if="${filter != null}" th:value="${filter}">
                <button class="btn btn-primary ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add new Message
    </a>
    <div class="collapse" id="collapseExample">
        <div class="form-group mt-3">
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="text" class="form-control ${(textError??)?string('is-invalid', '')}" th:value="${message.text}" placeholder="Enter your Message"/>
                <div class="invalid-feedback" th:if="${textError != null}"></div>
                <input type="text" name="tag" class="form-control" placeholder="Enter your Tag"/>
                <input type="file" name="file">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary ml-2">Add Message</button>
            </form>
        </div>
    </div>

    <div class="card-columns">
    <div class="card my-3" th:each = "message : ${messages}">
        <div>
            <img class="card-img-top" th:if="${message.filename != null}" th:src="${'/img/' + message.filename}"/>
        </div>
        <div class="m-2">
        <i th:text="${message.tag}"> </i>
        <span th:text ="${message.text}"></span>
        </div>
        <div class="card-footer text-muted" th:text = "${message.authorName}"></div>
    </div>
    </div>
</div>
</body>
</html>