<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Edit personal info </title>
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <h5 th:text ="${username}"></h5>
        <p th:if="${message != null}" th:text="${message}"/>
        <!-- в форме нет action так как она отправляется по тому же адресу, по которому пришла -->
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email :</label>
                <div class="col-sm-6">
                    <input type="email"  class="form-control" name="email" placeholder="example@mail.com" th:value="${email != null} ? ${email} : ''"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password"  class="form-control" name="password" placeholder="Password"/>
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button class="btn btn-primary" type="submit" >Save</button>
        </form>
    </div>
</body>