<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
    <h6 class="mb-1">Add new user</h6>
    <p class='invalid-feedback' th:if="${userError != null}" th:text="${userError}"/>
    <div th:if="${user != null}" >
        <form  method="post" th:object="${user}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name:</label>
                <div class="col-sm-6">
                    <input type="text"  th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'" name="username" placeholder="User name" th:field="*{username}" th:value="*{username}"/>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-6">
                    <input type="email"  th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'" name="email" placeholder="example@mail.com" th:field="*{email}" th:value="*{email}"/>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password"  th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'" name="password" placeholder="Password" th:field="*{password}"/>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Retype password:</label>
                <div class="col-sm-6">
                    <input type="password"  th:class="${password2Error} ? 'form-control is-invalid' : 'form-control'" name="password2" placeholder="Retype password"/>
                    <p class="invalid-feedback" th:if="${password2Error != null}" th:text="${password2Error}"></p>
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
    <div th:if="${user == null}">
        <form th:action="@{/registration}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name :</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="username" placeholder="User name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email :</label>
                <div class="col-sm-6">
                    <input type="email"  class="form-control" name="email" placeholder="example@mail.com"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password"  class="form-control" name="password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Retype password:</label>
                <div class="col-sm-6">
                    <input type="password"  th:class="${userError} ? 'form-control is-invalid' : 'form-control'" name="password2" placeholder="Retype password"/>
                    <p class="invalid-feedback" th:if="${userError != null}" th:text="${passwordError}"></p>
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
</body>
</html>